

<div class="card-bg task-card">
    <div>
        <img class="individual-pic" src="{{record.photo_url}}"/>
        <div>
            <div class="topmost-info">
                <p>{{record.full_name}}</p>
                <p>{{task.datetime_created|date:'Y.m.d H:i'}}</p>
            </div>
            <h2 class="task-title">{{ task.name }}</h2>
        </div>
    </div>
    <p>{{task.description}}</p>
    <p>Категорія: <span class="badge">{{task.category.name}}</span></p>
    <hr/>
    <div class="address-area">
        <p>{{task.address_text}}</p>
        {% if task.location_url %}
            <a class="map-btn" href={{task.location_url}}>Показати на карті</a>
        {% endif %}
    </div>

    <div class="due-area">
        <p>Час: <span>{{task.datetime_planned|date:'Y.m.d H:i'}}</span></p>
        <p>Соц. балів: <span>{{task.points_given}}</span></p>
    </div>
     <hr/>

    <div class="badges-container">
    {% for sk in task.task_needed_skill_set.all %}
        <span class="badge">{{ sk.skill_code.name }}</span>
    {% endfor %}

    {% for tr in task.predefined_trait_of_task_set.all %}
        <span class="badge">{{ tr.trait_code.name }}</span>
    {% endfor %}
    </div>

    <p>Орієнтовна кількість людей для виконання: {{task.people_needed}}</p>
    <hr/>
    <div class="accept-area">
        <button class="map-btn accept-btn">Прийняти</button>
    </div>
</div>