<!DOCTYPE html>
<html lang="uk">
    {% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Платформа Волонтерства{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    {% block extra_css %} {%endblock%}
</head>
<body>
    <nav class="navbar">
        <div class="navbar-left">
            <a href="{% url 'home' %}" class="logo">
                <img src="{% static 'images/logo.png' %}" alt="Лого" />
                <span>Платформа Волонтерства</span>
            </a>
        </div>
        <div class="navbar-center">
            <a href="{% url 'volunteer_tasks' %}">Волонтерство</a>
            <a href="{% url 'request_help' %}">Потребую допомоги</a>
            <a href="{% url 'important_info' %}">Важливо знати</a>
            <div class="dropdown">
                <button class="dropbtn">Про платформу</button>
                <div class="dropdown-content">
                    <a href="{% url 'about' %}">Про нас</a>
                    <a href="{% url 'how_it_works' %}">Як це працює</a>
                    <a href="{% url 'faq' %}">Питання та відповіді</a>
                </div>
            </div>
        </div>
        <div class="navbar-right">
            <a href="{% url 'profile' %}">
                <img src="{% static 'images/profile_icon.png' %}" alt="Профіль" />
            </a>
            <span class="social-balance">Баланс: 100</span>
            <a href="{% url 'notifications' %}">
                <img src="{% static 'images/notifications_icon.png' %}" alt="Повідомлення" />
            </a>
        </div>
    </nav>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer>
        <p>&copy; 2025 Платформа Волонтерства</p>
    </footer>
</body>
</html>
