<!DOCTYPE html>
{% load static %}
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Платформа Волонтерства{% endblock %}</title>
    {% block links %}
    {% endblock %}
</head>
<body>
    <nav class="navbar">
            {% block navbar %}
    {% endblock %}
    </nav>
    <main>
            {% block content %}
    {% endblock %}
    </main>
    <footer>
        <p>&copy; 2025 Платформа Волонтерства</p>
    </footer>
</body>
</html>
