#task-filters {
    display: flex;
    justify-content: space-between;
}

#task-filters>div:nth-child(2) {
    display: flex;
}

.card-bg, .popup-filter {
    box-shadow: 0.5vh 0.5vh 2vh var(--mantis);
}

.card-bg {
    margin-top: 5vh;
    background-color: var(--mint-cream);
    padding: 2vh;
}

.task-card>div:nth-child(1) {
    display: flex;
    align-items: center;
}
.task-card>div:nth-child(1) > div {
    flex-grow: 1;
    padding: 1vh;
}
.task-title {
    margin-top: 1vh;
    margin-bottom: 1vh;
    color: var(--mantis);
    text-shadow: 1px 1px 0.5rem var(--celadon);
}

.topmost-info {
    display: flex;
    justify-content: space-between;
}

.individual-pic {
    max-height: 12vh;
}

.address-area {
    display: flex;
    align-items: center;
}
.address-area>p {
    flex-grow:1;
}

.due-area {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.due-area>p {
    text-align: center;
}

.due-area>p>span {
    font-size: larger;
    font-weight: bold;
    text-shadow: 3px 3px 1rem var(--mantis);
}

.badges-container {
    display: flex;
    flex-wrap: wrap;
}
.map-btn, .badge {
    border: 2px solid var(--tea-green);
    padding: 10px;
    border-radius: 1rem;
}
.map-btn {
    background: var(--celadon);
    color: var(--outer-space);
    text-decoration: none;
    text-shadow: 3px 3px 0.5rem var(--tea-green);
}
button.map-btn {
    font-weight: bold;
}

.badge {
    background-color: var(--mantis);
    color: var(--tea-green);
}

.badges-container>.badge {
    margin-right: 1vh;
}

.accept-area {
    text-align: center;
}
.accept-area > button {
    font-size: larger;
}

#popup-container {
    position: relative;
}
#popup-container > div {
    margin-left: 3vh;
}
#popup-container > div:last-child {
    align-self: center;
}
#popup-container > div:last-child>button {
    padding: 1rem;
    font-weight: bold;
    text-shadow: 1px 1px 0.5rem var(--celadon);
    cursor: pointer;
}

.filter-summary {
    display: inline;
}

.popup-filter {
    padding: 1.5vh;
    position: absolute;
    visibility: hidden;
    background-color: var(--tea-green);
    display: grid;
    grid-template-columns: auto auto;
    max-width: 100vh;
}
.popup-filter > div {
    margin: 0.5vh;
}

select {
    padding: 1vh;
    border-radius: 1rem;
    background: var(--tea-green);
    border: 2px solid var(--mantis);
}
option:hover {
    color: #444645;
    background: #ddd;
}

input[type="checkbox"] {
  width: 1rem;
  height: 1rem;
  accent-color: var(--mantis);
  border-radius: 4px;
}